version: 2.1

executors:
  default:
    working_directory: /home/circleci/workspace/
    docker:
      - image: circleci/python:3.8-browsers

jobs:
  build:
    executor: default
    steps:
      - checkout
      - run:
          name: "Install Browserstack tools"
          command: |
            wget --no-verbose -O /tmp/BrowserStackLocal.zip https://www.browserstack.com/browserstack-local/BrowserStackLocal-linux-x64.zip
            unzip /tmp/BrowserStackLocal.zip BrowserStackLocal -d /home/circleci/bin/
            rm /tmp/BrowserStackLocal.zip
            chmod 755 /home/circleci/bin/BrowserStackLocal
      - run:
          name: "Install Python Dependencies"
          command: |
            poetry install
      - persist_to_workspace:
          root: workspace
          paths:
            - .
  test:
    executor: default
    steps:
      - attach_workspace:
          at: workspace
      - run:
          name: "Code Style Check"
          command: |
            export LC_ALL=C.UTF-8
            export LANG=C.UTF-8
            poetry run black --check --line-length=88 --safe src tests
      - run:
          name: "Run Tests"
          command: |
            mkdir /home/circleci/reports/
            export REMOTE_SERVICE="http://${BROWSERSTACK_USERNAME}:${BROWSERSTACK_API_KEY}@hub.browserstack.com:80/wd/hub"
            export REMOTE_BROWSER="{\"bstack:options\": {\"os\": \"Windows\", \"osVersion\": \"10\", \"resolution\": \"1024x768\", \"local\": \"true\", \"seleniumVersion\": \"3.14.0\", \"localIdentifier\": \"${CIRCLE_SHA1}\", \"buildName\": \"${CIRCLE_SHA1}-${CIRCLE_BUILD_NUM}-Chrome\", \"projectName\": \"arsenic\"}, \"browserName\": \"Chrome\", \"browserVersion\": \"latest\"}"
            export BROWSERSTACK_LOCAL_IDENTIFIER="${CIRCLE_SHA1}"
            export BROWSERSTACKLOCAL_BINARY="/home/circleci/bin/BrowserStackLocal"
            poetry run pytest --verbose --cov arsenic --cov-report html:/home/circleci/reports/coverage/ --junitxml /home/circleci/reports/junit.xml
      - store_test_results:
          path: /home/circleci/reports/junit.xml
      - store_artifacts:
          path: /home/circleci/reports/coverage/
    environment:
      - DOCS_DIR: "/home/circleci/workspace/docs/"

workflows:
  build_and_test:
    jobs:
      - build
      - test:
          requires:
            - build
